<div class="header">
    <ul class="header-links">
        <li><a href="/">Home</a></li>
        <li><a href="/gallery/index.html">Gallery</a></li>
        <li><a href="/about/index.html">About</a></li>
    </ul>
</div>