<!DOCTYPE html>
<html>
    {{>head}}
	<body>
		{{>header}}
        {{>video}}
        <div class="main-title">
            <h1>homepage sine</h1>
            <h3>Lorem ipsum dolor sit amet,
                consectetur adipiscing elit,
                sed do eiusmod tempor incididunt
                ut labore et dolore magna aliqua.
                Ut enim ad minim veniam, quis nostrud
                exercitation ullamco laboris nisi ut
                aliquip ex ea commodo consequat.
            </h3>
        </div>
	</body>

	{{!-- <script data-main="/assets/js/main.js" src="/assets/vendor/requirejs/require.js"></script> --}}
</html>